name: Publish Rocks

on:
  workflow_run:
    workflows: [Build Rocks]
    branches: [main]
    types:
      - completed

jobs:
  check-status:
    runs-on: ubuntu-latest
    steps:
      - name: Fail if upstream workflow failed
        if: ${{ github.event.workflow_run.conclusion != 'success' }}
        run: |
          echo "::error::Build workflow did not succeed. Cannot publish."
          exit 1

  read-config:
    runs-on: ubuntu-latest
    needs: [check-status]
    outputs:
      ghcr-upload: ${{ steps.read-ci-config.outputs.ghcr-upload }}
      ghcr-cve-scan: ${{ steps.read-ci-config.outputs.ghcr-cve-scan }}
      build-matrix: ${{ steps.read-ci-config.outputs.build-matrix }}
      upload-matrix: ${{ steps.read-ci-config.outputs.upload-matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Read .github/ci.yaml
        id: read-ci-config
        uses: canonical/rocks-template-actions/actions/read-ci-config@v1

      # If ghcr-upload is true and there are pro rocks in upload matrix, output warning
      - name: Warn about GHCR pro rock upload
        if: |
          steps.read-ci-config.outputs.ghcr-upload == 'true' &&
          contains(steps.read-ci-config.outputs.upload-matrix, 'pro-services')
        run: |
          echo "::warning::GHCR does not support private/pro rocks. Ensure you have other registries in upload-matrix to upload pro rocks."

  upload-ghcr:
    needs: [read-config]
    runs-on: ubuntu-latest
    if: |
      needs.read-config.outputs.ghcr-upload == 'true'
    strategy:
      matrix: ${{ fromJSON(needs.read-config.outputs.build-matrix) }}
      fail-fast: false
    permissions:
      packages: write
      actions: read
      contents: read
    steps:
      - name: Upload Rock to GHCR
        if: ${{ github.event.repository.visibility != 'public' || matrix.pro-services == '' }}
        uses: canonical/oci-factory/.github/actions/upload-rock@main
        with:
          artifact_name: ${{ matrix.artifact-name }}
          tags: ${{ matrix.tag }}
          name: ${{ matrix.name }}
          registry: ghcr.io/${{ github.repository }}${{ matrix.pro-services != '' && '/pro' || '' }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  upload-registries:
    needs: [read-config]
    if: |
      needs.read-config.outputs.upload-matrix != '{"include": []}'
    strategy:
      matrix: ${{ fromJSON(needs.read-config.outputs.upload-matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Prepare ECR Session Token
        if: ${{ contains(matrix.registry-auth-method, 'ecr') }}
        id: get-ecr-token
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets[matrix.registry-auth-username] }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets[matrix.registry-auth-password] }}
        run: |
          session_token=$(aws ${{ matrix.registry-auth-method }} \
                          get-login-password \
                          --region ${{ matrix.registry-auth-region }} \
                          )
          echo "::add-mask::$session_token"
          echo "aws-session-token=$session_token" >> $GITHUB_OUTPUT

      - name: Upload Rock to ECR
        uses: canonical/oci-factory/.github/actions/upload-rock@main
        if: ${{ contains(matrix.registry-auth-method, 'ecr') }}
        with:
          artifact_name: ${{ matrix.artifact-name }}
          tags: ${{ matrix.tag }}
          name: ${{ matrix.name }}
          registry: ${{ matrix.registry-uri }}
          username: AWS
          password: ${{ steps.get-ecr-token.outputs.aws-session-token }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Rock to Registry
        uses: canonical/oci-factory/.github/actions/upload-rock@main
        if: matrix.registry-auth-method == 'basic'
        with:
          artifact_name: ${{ matrix.artifact-name }}
          tags: ${{ matrix.tag }}
          name: ${{ matrix.name }}
          registry: ${{ matrix.registry-uri }}
          username: ${{ secrets[matrix.registry-auth-username] }}
          password: ${{ secrets[matrix.registry-auth-password] }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

