name: Publish Rocks to GHCR

on:
  workflow_run:
    workflows: [Build Rocks]
    branches: [main]
    types:
      - completed

jobs:
  read-config:
    runs-on: ubuntu-latest
    outputs:
      ghcr-upload: ${{ steps.read-ci-config.outputs.ghcr-upload }}
      ghcr-cve-scan: ${{ steps.read-ci-config.outputs.ghcr-cve-scan }}
      build-matrix: ${{ steps.read-ci-config.outputs.build-matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Read .github/ci.yaml
        id: read-ci-config
        uses: canonical/rocks-template-actions/actions/read-ci-config@v1   

  upload-ghcr:
    needs: [read-config]
    runs-on: ubuntu-latest
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      needs.read-config.outputs.ghcr-upload == 'true'
    strategy:
      matrix: ${{ fromJSON(needs.read-config.outputs.build-matrix) }}
      fail-fast: false
    permissions:
      packages: write
    steps:
      - name: Upload Rock to GHCR
        if: github.event.repository.visibility != "public" || !matrix.pro-services
        uses: canonical/oci-factory/.github/actions/upload-rock@main
        with:
          artifact_name: ${{ matrix.artifact-name }}
          tags: ${{ matrix.tag }}
          name: ${{ matrix.name }}
          registry: ghcr.io/${{ github.repository }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
